body{
  background-image: url("pink-tile.jpeg");
}


.container{
  left: 0;
    line-height: 50px;
   /*margin: 50px;*/
    position: absolute;
    text-align: center;
    top: 10%;
    width: 100%;
    border: white 3px;
    overflow-wrap: break-word;
}

h1{
  margin: 90px 0px 20px 0px;
  font-family: 'Playfair Display', serif;
  background-color: white;
  padding: 30px;
  margin: 40px;
}

h2{
  font-family: 'Inconsolata', monospace;
  margin: 5px 5px 2px ;
  background-color: white;
  padding: 30px;
  margin: 10px;
  border:6px;
}

input{
 height: 40px;
 width: 400px;
 border-radius:10px;
 font-size: 15px;
}

button{
  height: 30px;
  width: 100px;
  border-radius: 20px;
}

#submit{
  margin: 15px;
}

.title{
  color: rgb(206, 99, 152);
  text-decoration: none;
  border-radius: 5px;
  padding: 5px;

}

a:visited {
  color:rgb(94, 18, 56);
}

.description{
  color:rgb(214, 56, 162);
  text-decoration: none;
}

.url{
  color: rgb(184, 43, 109);
}

#results-list{
  display:none;
  text-decoration: none;
  text-align:left;
  padding: 10px;
  flex-direction: column;
  background-color: white;
  margin: 30px;
  border-radius: 10px;
  border-color: rgb(175, 55, 95);
  border: 10px;
}

.hidden{
  display:none;
}