body{
  background-color: white;
  max-width: 100%;
}

.title{
  color: black;
  font-weight:bold;
  text-decoration: none;
  border-radius: 5px;
  padding: 1px;
  margin-bottom: 5px;
}

.container{
  position: relative;
  text-align: center;
  display:flex;
  flex-direction: column;
  border: white 3px;
  top: 10%;
  line-height: 25px;
  margin-left: 20px;
  margin-right: 20px;
  margin:auto;
}

h1{
  font-family: 'Concert One', cursive;
  font-size: 60px;
  color: white;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin: 0 -20px;
  padding: 0 20px;
  text-align: right;
  position: relative;
}

h2{
  font-family: 'Playfair Display', serif;
  color:rgb(0, 0, 0);
  background-color: white;
  text-align: center;
  border:6px;
  margin-top: 40px;
  margin-bottom: 10px;
  padding: 10px;
}

li{
  list-style-type:none;
}
  
label{
  max-width:500px;
  display: inline-block;
}

button{
  height: 50px;
  width: 130px;
  border-radius: 20px;
  margin: 15px;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  background-color: rgb(0, 0, 0);
  color:white;
}

.dropButton{
  background-color: rgba(78, 76, 76, 0.795);
  height: 60px;
  width: 300px;
  display:flex;
  cursor: pointer;
}

.dropDown {
  position: relative;
  display: inline-block;
}

.headlineTitle{
  color:rgba(0, 0, 0, 0.884);
  font-size: 20px;
  line-height: 3px;
}

#top-headlines{
  line-height: 40px;
  
}

.news-input{
  height: 40px;
  width: 600px;
  border-radius:10px;
  font-size: 15px;
  border-style: solid;
  border-color: rgb(221, 220, 217);
  display: inline-block;
}

a:hover{
  color:green;
}

a:visited {
  color:rgb(94, 18, 56);
}

.description{
  color:black;
  text-decoration: none;
}

.url{
  color: green;
}

#results-list{
  text-decoration: none;
  padding: 10px;
  flex-direction: column;
  margin: 15px;
  border-radius: 5px;
  border: 10px;
  list-style: none;
}

.hidden{
  display:none;
}

.dropdown-content{
  display: none;
}

.holder{
  background-color: white;
  margin-top: 50px;
  border-radius: 5px;
}

@media screen and (min-width:480px) {
  body {
    box-sizing: border-box;
  }
}

@media screen and (min-width:800px) {
  body {
    box-sizing: border-box;
    width: 100%;
  }
}
